@font-face {
  font-family: "code-font";
  src: url("JetBrainsMono.woff2");
}

@font-face {
  font-family: "p-font";
  src: url("PingFangSC.woff2");
}

code {
  font-family: "code-font", "p-font" !important;
  font-size: 14px !important;
  font-variant-ligatures: normal !important;
}

.lineos {
  font-family: "code-font", "p-font" !important;
  font-size: 14px !important;
}

body {
  font-family: "p-font" !important;
}

.MathJax {
  font-size: 114% !important;
}